[submodule "Assets/Packages/AudioManager"]
	path = Assets/Packages/AudioManager
	url = git@github.com:CyberBuggy/AudioManager.git
[submodule "Assets/Packages/CreateProjectStructure"]
	path = Assets/Packages/CreateProjectStructure
	url = git@github.com:CyberBuggy/CreateProjectStructure.git
[submodule "Assets/Packages/Interactions"]
	path = Assets/Packages/Interactions
	url = git@github.com:CyberBuggy/Interactions.git
[submodule "Assets/Packages/LoadingScreen"]
	path = Assets/Packages/LoadingScreen
	url = git@github.com:CyberBuggy/LoadingScreen.git
[submodule "Assets/Packages/MenuScreenUtils"]
	path = Assets/Packages/MenuScreenUtils
	url = git@github.com:CyberBuggy/MenuScreenUtils.git
[submodule "Assets/Packages/GeneralSpriteShapes"]
	path = Assets/Packages/GeneralSpriteShapes
	url = https://github.com/CyberBuggy/GeneralSpriteShapes
[submodule "Assets/Packages/Leaderboards"]
	path = Assets/Packages/Leaderboards
	url = https://github.com/CyberBuggy/Leaderboards
